
body{
    background-color: rgb(64, 109, 110);
}
img{
    width: 35%; 
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
}
h1{
    background-color: rgb(228, 154, 69);
    text-align: center;
    color: rgb(184, 0, 0);
    margin: auto;
    width: 700px;
    font-size: 60px;
}
h2{
    background-color: rgb(228, 154, 69);
    text-align: center;
    color: rgb(184, 0, 0);
    margin: auto;
    width: 700px;

}
p{
    background-color: rgb(216, 188, 62);
}
section{
    width: 700px; 
    max-width: 95%;
    margin: auto;
    text-align: center;
}
li{
    text-align:left;

}
